{% extends 'index.html' %}
{% block head %}
{% endblock head %}
{% block body %}
<h2 class="text-center my-5" style="color: rgb(0, 0, 0);">Thank You</h2>
    <section class="text">
        <div class="container">
            <div class="plans">
                <p>Dear [Girlfriend's Name],</p>
                <p>I wanted to take a moment to express my deepest gratitude to you. Thank you for being the incredible person you are and for bringing so much joy and love into my life.</p>
                <p>Your unwavering support, understanding, and love mean the world to me. Whether it's the big gestures or the small acts of kindness, you always go above and beyond to make me feel cherished and loved.</p>
                <p>Thank you for being my partner, my confidante, and my best friend. Together, we've shared countless unforgettable memories, overcome challenges, and celebrated triumphs. I am endlessly grateful for every moment we've spent together and for the love we continue to share.</p>
                <p>As we journey through life together, I look forward to creating many more beautiful memories with you. Thank you for being by my side through it all.</p>
                <p>With all my love,</p>
                <p>[Your Name]</p>
            </div>
        </div>
    </section>
{% endblock body %}